*
!.dockerignore
!apps/
apps/*
!apps/plataforma-api/
!apps/plataforma-api/**
!modules/
modules/*
!modules/fila-atendimento/
modules/fila-atendimento/*
!modules/fila-atendimento/backend/
!modules/fila-atendimento/backend/**
!incubadora/
incubadora/*
!incubadora/fila-atendimento/
incubadora/fila-atendimento/*
!incubadora/fila-atendimento/back/
!incubadora/fila-atendimento/back/**
