POSTGRES_DB=omnichannel
POSTGRES_USER=omnichannel
POSTGRES_PASSWORD=omnichannel
DATABASE_URL=postgresql://omnichannel:omnichannel@postgres:5432/omnichannel?schema=public
REDIS_URL=redis://redis:6379

PORT=4000
CORS_ORIGIN=http://localhost:3000
JWT_SECRET=change-this-secret

NUXT_PUBLIC_API_BASE=http://localhost:4000
NUXT_API_INTERNAL_BASE=http://api:4000

EVOLUTION_BASE_URL=http://evolution:8080
EVOLUTION_API_KEY=change-this-evolution-key
EVOLUTION_IMAGE=evoapicloud/evolution-api:v2.3.7
EVOLUTION_CONFIG_SESSION_PHONE_VERSION=2,3000,1025205472
EVOLUTION_DATABASE_URL=postgresql://omnichannel:omnichannel@postgres:5432/omnichannel?schema=evolution
EVOLUTION_SEND_PATH=/message/sendText/:instance
EVOLUTION_DEFAULT_INSTANCE=demo-instance
EVOLUTION_WEBHOOK_TOKEN=change-this-webhook-token
WEBHOOK_RECEIVER_BASE_URL=http://api:4000
