.env
.env.local
.env.prod
.DS_Store
Thumbs.db

node_modules
dist
.output
.nuxt
.data

apps/atendimento-online-api/node_modules
apps/atendimento-online-api/dist
apps/atendimento-online-api/prisma/dev.db

apps/painel-web/node_modules
apps/painel-web/.nuxt
apps/painel-web/.output

volumes
